<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3 mt-5">
              <label for="exampleFormControlInput1" class="form-label">Name Product</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name Product" required>
            </div>
            <div class="mb-3 mt-5">
              <label for="exampleFormControlInput1" class="form-label">Description</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Description" required>
            </div>
            <div class="mb-3 mt-5">
              <label for="exampleFormControlInput1" class="form-label">Price</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Price" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Select Image</label>
              <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Enter Price" required>
            </div>
        </div>
    </div>
</div>


<%- include('layout/footer') %>
