<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href = "/icons/css/boxicons.min.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand">Cahaya Makmur</a>
                <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link"><i class='bx bx-home'></i>Home</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/" class="nav-link"><i class='bx bx-user-plus'></i>Add User</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/" class="nav-link"><i class='bx bx-globe'></i>About</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/" class="nav-link"><i class='bx bxs-contact' ></i>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <p>dibawah sini adalah icon harusnya sih</p>
    </main>

      <script type="module" src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>